## 基本容器   
注意：可变（mutable ）对象在创建后可以修改，而不可变（immutable）对象则不能。

容器是可用于将其他对象分组在一起的对象。 基本容器类型包括：

* str（字符串：不可变；按整数索引；项目按添加顺序存储）
* 列表（列表：可变；按整数索引；项目按添加顺序存储）
    - [3,5,6,3,'狗','猫',假]
* 元组（元组：不可变；按整数索引；项目按添加顺序存储）
    - (3,5,6,3,'狗','猫',假)
* set（集合：可变；根本不索引；项目不按添加顺序存储；只能包含不可变对象；不包含重复对象）
    - {3, 5, 6, 3, '狗', '猫', False}
* dict（字典：可变；键值对由不可变键索引；项目不按添加顺序存储）
    - {'name': 'Jane', 'age': 23, 'fav_foods': ['披萨', '水果', '鱼']}
定义列表、元组或集合时，使用逗号 (,) 分隔各个项目。 定义字典时，使用冒号（:）分隔键和值，使用逗号（,）分隔键值对。

    字符串、列表和元组都是可以使用 +、*、+= 和 *= 运算符的序列类型。

In [12]:
# Access a range of items in a sequence
simple_string1 = 'an example'
simple_string1[3:8]

'examp'

In [14]:
# Add and re-assign
simple_string1 += ' that re-assigned the original string'
simple_string1

'an example that re-assigned the original string'

In [1]:
# Assign some containers to different variables
list1 = [3, 5, 6, 3, 'dog', 'cat', False]
tuple1 = (3, 5, 6, 3, 'dog', 'cat', False)
set1 = {3, 5, 6, 3, 'dog', 'cat', False}
dict1 = {'name': 'Jane', 'age': 23, 'fav_foods': ['pizza', 'fruit', 'fish']}

In [2]:
# Items in the list object are stored in the order they were added
list1

[3, 5, 6, 3, 'dog', 'cat', False]

In [3]:
# Items in the tuple object are stored in the order they were added
tuple1

(3, 5, 6, 3, 'dog', 'cat', False)

In [4]:
# Items in the set object are not stored in the order they were added
# Also, notice that the value 3 only appears once in this set object
set1

{3, 5, 6, False, 'cat', 'dog'}

In [5]:
# Items in the dict object are not stored in the order they were added
dict1

{'name': 'Jane', 'age': 23, 'fav_foods': ['pizza', 'fruit', 'fish']}

In [6]:
# Add and re-assign
list1 += [5, 'grapes']
list1

[3, 5, 6, 3, 'dog', 'cat', False, 5, 'grapes']

In [7]:
# Multiply
[1, 2, 3, 4] * 2

[1, 2, 3, 4, 1, 2, 3, 4]

## 访问容器中的数据
对于字符串、列表、元组和字典，我们可以使用下标表示法（方括号）来访问索引处的数据。

* 字符串、列表和元组按整数索引，第一项从 0 开始
    - 这些序列类型还支持访问一系列项目，称为切片
    - 使用负索引从序列的后面开始
* 字典按其键进行索引

    注意：集合没有索引，因此我们不能使用下标表示法来访问数据元素。

In [8]:
# Access the first item in a sequence
list1[0]

3

In [9]:
# Access the last item in a sequence
tuple1[-1]

False

In [13]:
# Access a range of items in a sequence
tuple1[:-3]

(3, 5, 6, 3)

In [15]:
# Access a range of items in a sequence
list1[4:]

['dog', 'cat', False, 5, 'grapes']

In [16]:
# Access an item in a dictionary
dict1['name']

'Jane'

In [17]:
# Access an element of a sequence in a dictionary
dict1['fav_foods'][2]

'fish'

## 列表对象上的一些函数
* .append(item) 将单个项目添加到列表中
* .extend([item1, item2, ...]) 将多个项目添加到列表中
* .remove(item) 从列表中删除单个项目
* .pop() 删除并返回列表末尾的项目
* .pop(index) 删除并返回索引处的项目

使用for循环 遍历列表

In [21]:
nameList = ['xiaoWang', 'xiaoZhang', 'xiaoHua']
for name in nameList:
    print(name)

xiaoWang
xiaoZhang
xiaoHua

在列表中插入新的元素

In [22]:
#待查找的列表
# nameList = ['xiaoWang','xiaoZhang','xiaoHua']
# print(nameList)

nameList.insert(1, 'Tom')
nameList.append("Jerry")
print(nameList)

['xiaoWang', 'Tom', 'xiaoZhang', 'xiaoHua', 'Jerry']

In [23]:
new_stu_list = ['Jimmy', 'Cindy']
nameList.extend(new_stu_list)
print(nameList)

['xiaoWang', 'Tom', 'xiaoZhang', 'xiaoHua', 'Jerry', 'Jimmy', 'Cindy']

## 字典对象上的一些函数
* .update([(key1, val1), (key2, val2), ...]) 将多个键值对添加到字典中
* .update(dict2) 将另一个字典中的所有键和值添加到该字典中
* .pop(key) 删除键并从字典中返回其值（如果找不到键则出错）
* .pop(key, default_val) 删除键并从字典中返回其值（如果找不到键则返回default_val）
* .get(key) 返回字典中指定键的值（如果未找到键则返回 None）
* .get(key, default_val) 返回字典中指定键的值（如果未找到键则返回default_val）
* .keys() 返回字典中的键列表
* .values() 返回字典中的值列表
* .items() 返回字典中的键值对（元组）列表

根据key访问字典元素

In [24]:
info = {'name':'班长', 'id':100, 'sex':'f', 'address':'地球亚洲中国北京'}
print(info['name'])
print(info['address'])
age = info.get('age')
print(age)
print(type(age))
age = info.get('age', 0)
print(age)

班长
地球亚洲中国北京
None
<class 'NoneType'>
0

新增字典元素

In [26]:
age = input('please input your age:')
info['age'] = age
print(info)

please input your age:23
{'name': '班长', 'id': 100, 'sex': 'f', 'address': '地球亚洲中国北京', 'age': '23'}

遍历字典元素

In [28]:
dict = {'Name': 'Zara', 'Age': 7}
# 遍历元素
for item in dict.items():
     print(item)

print('='*20)
# 遍历元素，分别赋值
for key,value in dict.items():
    print("key: %s，value: %s" % (key,value) )
    
print('='*20)    
# 遍历key
for key in dict.keys():
      print(key)

print('='*20)    
# 遍历value
for value in dict.values():
     print(value)

('Name', 'Zara')
('Age', 7)
====================
key: Name，value: Zara
key: Age，value: 7
====================
Name
Age
====================
Zara
7

### 案例
随机分配老师到不同的办公室

In [34]:
import random
# 定义一个列表用来保存3个办公室
offices = [[],[],[]]
# 定义一个列表用来存储8位老师的名字
names = ['王重阳','黄药师','杨过','郭靖','张三丰','乔峰','张无忌','洪七公']
i = 0
for name in names:
   idx = random.randint(0,2) # 行索引
   offices[idx].append(name)
i = 1 # 办公室编号
for tempNames in offices:
   print('办公室%d的人数为:%d'%(i,len(tempNames)))
   i+=1
   for name in tempNames:
        print("%s、 "%name,end='')
   print("-"*20)

办公室1的人数为:0
--------------------
办公室2的人数为:5
黄药师、 杨过、 郭靖、 张无忌、 洪七公、 --------------------
办公室3的人数为:3
王重阳、 张三丰、 乔峰、 --------------------

## 练习

1. 从身份证号中提取年月日，并分别打印

In [29]:
identity = '32092620*******' # 请使用你的数据替换
# 请输入你的代码

2. 请补充横线处的代码，listA中存放了已点的餐单。   
 让 Python 帮你增加一个“红烧肉”，去掉一个“水煮干丝”。

In [ ]:
#请补充代码
listA = ['水煮干丝','平桥豆腐','白灼虾','香菇青菜','西红柿鸡蛋汤']
listA.append # "红烧肉"
listA.remove # "水煮干丝"
print(listA)

3.请补充横线处的代码。dictMenu 中存放了你的双人下午套餐（包括咖啡 2 份和点心 2 份）的价格，
让 Python 帮忙计算并输出消费总额。

In [30]:
dictMenu = {'卡布奇洛':32 ,'摩卡':30,'抹茶蛋糕':28,'布朗尼':26}
___①_  _
for i in ____②____:
    sum +=  i
print(sum)

SyntaxError: invalid character '①' (U+2460) (3718767459.py, line 2)

4. 据说著名犹太历史学家Josephus有过以下的故事：  
在罗马人占领乔塔帕特后，39个犹太人与Josephus及他的朋友躲到一个洞中。   
39个犹太人决定宁愿死也不要被敌人抓到，于是决定了一个自杀方式。   
41个人排成一个圆圈，由第1个人开始报数，每报数到第3人该人就必须自杀；   
然后再由下一个重新报数，直到所有人都自杀身亡为止。   
然而Josephus和他的朋友并不想遵从。  

问题是，给定了和，一开始要站在什么地方才能避免被处决？   
osephus要他的朋友先假装遵从，他将朋友与自己安排在第x个与第y个位置，于是逃过了这场死亡游戏。   

要求：按死亡顺序打印输出自杀的人的编号和最后存活人的编号；

In [1]:
ls1 = [i for i in range(1, 42)] # 最初的人的列表
ls2 = [] # 自杀的人的列表
count = 0 # 计数变量，数到3后，置零，重新开始数
while len(ls1)>2:
    current = ls1.pop(0) # 从列表第一个位置取出一个数
    # 请输入你的代码
    

print(ls2)
print(ls1)